.container-url {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.suggestedglasses {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content:center;
}

.imagePreview {
  max-width: 200px;
  max-height: 320px;
}

.formsUrl {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  width: 60%;

}

.buttonupload {
  width: 300px;
  height: 300px;
}

.button-2 {
  appearance: none;
  background-color: #ebeef0;
  border: 0.5px solid rgb(142, 143, 144);
  border-radius: 4px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  max-width: 80px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-2:hover {
  background-color: #c3c3c4;
  text-decoration: none;
  transition-duration: 0.1s;
}

.preview {
  display: flexbox;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagePreview {
  max-width: 320px;
  max-height: 320px;
}

.get-calc {
  width: 100%;
  height: 100%;
}
