/* .container-search {
    margin-left: 350px;
    margin-right: 350px;
} */

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
     margin: 20px; 
     margin-bottom: 10px; 
} 

.dropdown-toggle {
    margin-right: 10px;
 } 


.justify-content-between {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
  }
/* 
  .dropdown-menu.show.CheckboxMenu {
    position: fixed !important;
   /* inset: 0 !important;  */
   /* transform: translate (0px, 40px) !important; */
   /* background-color: blue; */
/* } */

.thumbnail-product {
  border-color: white !important;
  box-shadow: none;
  margin: 0;
}

.sc-dkzDqf dPtqKf {
  margin-bottom: 0 !important;
}


.pt-5{
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.hfXMlH {
  height: 105vh !important;
}