
/* .text-end {
    margin-top: 10px;
    margin-right: 10px;
} */

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
     margin: 20px; 
     margin-bottom: 10px; 
}

.dropdown-toggle {
    margin-right: 10px;
    /* align-self: flex-end!important; */
 } 


.dropdown-menu.show.CheckboxMenu {
     position: fixed !important;
    /* inset: 0 !important;  */
    transform: translate (0px, 40px) !important;
    /* background-color: blue; */
}

.justify-content-between {
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    
}
/* 
.filtered-products {
    display: flex;
    flex-direction: row;
   justify-content: center;
 } */

 /* main {
    justify-content: center;
 } */
/* .col-md-9 {
    display: flex !important;
    flex-direction: column;
   justify-content: center !important;
   margin: 0 !important;
   padding: 0px!important;
} */

/* .CheckboxMenu .dropdown-item:hover,
.CheckboxMenu .dropdown-item:active {
  background-color: transparent;
  color: black;
} */
