.uploads-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.uploads-btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.upload-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.uploads-text {
  margin-top: 80px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}
