.navbar {
  background-color: #34ebb1;
  height: 70px;
  justify-content: space-between;
}

.logo {
  width: 300px;
}

.mx-5 {
  place-items: center;
  /* color: rgb(95, 93, 96); */
}

.mx-li p {
  margin: 0;
}
